@import "./common.scss";

.wrapper-head {
  height: 60px;
  line-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom, #CBCCFF, #9ECDFF);
  padding: 0 20px;

  .head-left {
    float: left;

    .name {
      float: left;
      font-size: 28px;
      font-weight: 500;
      color: #000;

      &::before {
        content: ' ';
        width: 35px;
        height: 35px;
        display: inline-block;
        background: url(../images/logo.png) no-repeat;
        background-size: 100% 100%;
        margin-right: 10px;
        position: relative;
        top: 8px;
      }
    }

    .desc {
      float: left;
      margin: 0 20px;
      padding-top: 12px;

      &>div {
        line-height: 18px;
        text-align: center;
        font-size: 14px;
        color: #666;
      }
    }
  }

  .menus {
    float: left;

    &>li {
      float: left;
      padding: 0 20px;
      cursor: pointer;
      font-size: 16px;
      color: #333;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &.active {
        color: #fff;
      }
    }
  }

  .head-right {
    float: right;
    font-size: 16px;
    color: #333;

    .app {
      float: left;
      cursor: pointer;

      &:hover {
        color: #666;
      }

      &::before {
        content: ' ';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../images/phone.png) no-repeat;
        background-size: contain;
        position: relative;
        top: 2px;
        margin-right: 2px;
      }
    }

    .user {
      float: left;
      margin-left: 20px;
      cursor: pointer;

      &:hover {
        color: #666;
      }

      &::before {
        content: ' ';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../images/user.png) no-repeat;
        background-size: contain;
        position: relative;
        top: 4px;
        margin-right: 3px;
      }
    }

    .exit {
      float: left;
      margin-left: 20px;
      cursor: pointer;
      display: none;

      &:hover {
        color: #666;
      }
    }
  }
}

.wrapper-body {
  position: relative;
  top: 60px;
  height: calc(100% - 60px);
}