@import "./common.scss";
@import "compass/layout/stretching";

body {
  background: linear-gradient(to bottom, #CBCCFF, #9ECDFF);
}

.left-png {
  position: absolute;
  left: 10%;
  right: 45%;
  top: 50%;
  transform: translateY(-50%);
  height: 430px;
  background: url(../images/loginimg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
}

.right-box {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 430px;
  background: #fff;

  .register,
  .login {
    height: 100%;
    padding: 30px 0;
    text-align: center;

    .title {
      width: 100%;
      font-size: 20px;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
    }

    .user-tabs {
      width: 70%;
      height: 30px;
      margin-bottom: 10px;
      margin-left: 15%;

      .tab {
        width: 50%;
        line-height: 30px;
        color: #333;
        border-bottom: 3px solid #eee;
        float: left;
        cursor: pointer;

        &:hover {
          color: #666;
        }

        &.active {
          float: left;
          border-bottom: 3px solid #9ECDFF;
        }
      }
    }

    .item {
      height: 30px;
      line-height: 30px;
      margin-bottom: 15px;
      text-align: center;
      position: relative;

      .inputs {
        width: 70%;
        height: 100%;
        line-height: 30px;
        font-size: 14px;
        color: #333;
        outline: none;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 0 5px;
      }

      .getcode {
        color: #fff;
        font-size: 14px;
        width: 100px;
        background: #9ECDFF;
        line-height: 32px;
        border-radius: 0 4px 4px 0;
        position: absolute;
        right: 13.5%;
        top: 0;
        z-index: 1;
        cursor: pointer;

        &:hover {
          background: rgb(176, 214, 255);
        }
      }
    }

    .btn {
      width: 70%;
      height: 40px;
      line-height: 40px;
      background: #9ECDFF;
      outline: none;
      border: none;
      font-size: 16px;
      color: #fff;
      border-radius: 4px;
      margin: 15px 0;
      cursor: pointer;

      &:hover {
        background: rgb(176, 214, 255);
      }
    }

    .words {
      text-align: center;
      margin-bottom: 10px;
      color: #666;

      &>a {
        text-decoration: none;
        color: #9ECDFF;

        &:hover {
          color: #333;
          text-decoration: underline;
        }
      }
    }

    .gotologin {
      text-decoration: none;
      text-align: center;
      color: #666;

      &:hover {
        color: #9ECDFF;
        text-decoration: underline;
      }
    }
  }

  .register {
    display: none;
  }

  .login {
    .user-tabs {
      margin-bottom: 30px;
    }

    .title {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .gotologin {
      display: block;
    }
  }
}