@import "./common.scss";

.body-wrapper {
  padding: 20px;

  .list-item {
    display: flex;
    border: 1px solid #eee;
    margin: 10px 0;

    .left {
      flex: 3;

      .top {
        margin-top: 28px;
        padding-left: 15px;
        font-size: 20px;
        color: #333;

        &>span {
          color: red;
        }
      }

      .bottom {
        margin-top: 10px;
        padding-left: 15px;
        color: #999;
        font-size: 14px;
      }
    }

    .middle {
      flex: 2;
      margin-top: 28px;

      .time {
        color: #333;
        font-size: 16px;
      }

      .docs {
        margin-top: 10px;
        color: #999;
        font-size: 14px;
      }
    }

    .right {
      text-align: center;
      line-height: 80px;
      margin: 10px 0;
      width: 300px;
      border-left: 1px solid #eee;

      &>span {
        color: red;
      }
    }
  }
}