@import "./common.scss";

.wrapper-body {
  overflow: auto;
  position: relative;
  background: #F2F2F2;

  .search {
    background: #9ECDFF;
    position: relative;
    height: 220px;

    .name1 {
      font-size: 50px;
      font-weight: 700;
      color: #997A7E;
      position: absolute;
      left: 20%;
      top: 10px;
    }

    .name2 {
      font-size: 50px;
      font-weight: 700;
      color: #997A7E;
      position: absolute;
      left: 32%;
      top: 35px;
    }

    .search-box {
      width: 70%;
      height: 120px;
      position: absolute;
      bottom: 0;
      left: 15%;
      background: #99AFCA;

      .sousuo {
        width: 90%;
        margin: 20px auto;
        display: flex;

        .search-input {
          flex: 1;
          height: 40px;
          line-height: 40px;
          padding: 0 8px;
          outline: none;
          border: 1px solid #ddd;
          border-radius: 4px 0 0 4px;
          color: #333;
        }

        &>button {
          width: 100px;
          height: 42px;
          line-height: 42px;
          border-radius: 0 4px 4px 0;
          border: none;
          outline: none;
          background: #9ECDFF;
          color: #fff;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background: rgb(176, 214, 255);
          }
        }
      }

      .hot-zhiwei {
        font-size: 14px;
        color: #fff;
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .lunbos {
    margin: 20px;
    overflow: hidden;

    .left-menus {
      float: left;
      width: 250px;
      height: 450px;
      background: #fff;

      .menu-item {
        line-height: 50px;
        padding-left: 12px;
        font-size: 16px;
        color: #333;
        cursor: pointer;

        &::after {
          content: ' ';
          float: right;
          width: 20px;
          height: 20px;
          background: url(../images/index/youjiantou.png) no-repeat;
          background-size: contain;
          position: relative;
          top: 16px;
          right: 10px;
        }

        &:hover {
          color: #9ECDFF;
          background: #F2F2F2;
        }
      }
    }

    .lunb {
      float: left;
      width: calc(100% - 270px);
      height: 450px;
      margin-left: 20px;
    }
  }

  .three-png {
    background: #fff;
    margin: 20px;
    padding: 10px;
    overflow: hidden;

    &>img {
      width: calc((100% - 20px) / 3);
      float: left;
      margin-right: 10px;
      cursor: pointer;
      opacity: 1;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .hot-jobs {
    background: #fff;
    margin: 20px;
    padding: 20px;
    overflow: hidden;

    .title {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      margin-bottom: 20px;
    }

    .jobs-box {
      overflow: hidden;

      .job-item {
        border: 1px solid #ddd;
        width: calc((100% - 36px) / 3);
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          border-color: #9ECDFF;
        }

        .title {
          font-size: 18px;
          color: #333;
          padding: 0 12px;
          margin: 20px 0;
          font-weight: 400;
        }

        .desc {
          font-size: 14px;
          color: #999;
          border-bottom: 1px dashed #ccc;
          margin: 12px;
          padding-bottom: 10px;
        }

        .name {
          font-size: 16px;
          color: #333;
          float: left;
          margin-left: 12px;
          margin-bottom: 15px;
        }

        .address {
          font-size: 14px;
          color: #666;
          float: right;
          margin-right: 12px;
          margin-bottom: 15px;

          &::before {
            content: ' ';
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url(../images/index/address.png) no-repeat;
            background-size: contain;
            margin-right: 5px;
            position: relative;
            top: 3px;
          }
        }
      }
    }

    .jobs-foot {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  }

  .hot-citys {
    background: #fff;
    margin: 20px;
    padding: 20px;
    overflow: hidden;

    .title {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      margin-bottom: 20px;
    }

    .city-box {
      &>img {
        width: 20%;
        height: 100px;
        float: left;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}