@import "./common.scss";

body {
  background: #F2F2F2;
}

.search-area {
  background: #fff;
  padding: 30px;

  .search-box {
    display: flex;
    width: 70%;

    .city-select {
      width: 100px;
    }
  }

  .search-conds {
    display: flex;
    width: 100%;
    margin-top: 20px;

    .item-select {
      width: 120px;
      padding-right: 20px;

      .layui-form-select .layui-input {
        border: none;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.jobs-list {
  margin: 30px 10%;
  background: #fff;

  .job-item {
    display: flex;
    padding: 30px;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    &:hover {
      background: #f8f8f8;
    }

    &:last-child {
      border: none;
    }

    .item-left {
      flex: 3;

      .name {
        color: #99CCCC;
        font-size: 18px;
        float: left;
        margin-right: 30px;
      }

      .xz {
        color: red;
        font-size: 18px;
      }

      .desc {
        display: block;
        color: #999;
        font-size: 14px;
        margin-top: 20px;
      }
    }

    .item-middle {
      flex: 3;

      .name {
        color: #666;
        font-size: 18px;
      }

      .desc {
        color: #999;
        font-size: 14px;
        margin-top: 20px;
      }
    }

    .item-right {
      flex: 2;
      color: #666;
      font-size: 16px;
      margin-top: 20px;
      text-align: right;
      line-height: 30px;

      .myusericon {
        font-size: 30px;
        color: #1E9FFF;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
  }
}