body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2369 {
  position:absolute;
  left:61px;
  top:9px;
  width:85px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2370 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:170px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2371 {
  position:absolute;
  left:104px;
  top:89px;
  width:1048px;
  height:170px;
}
#u2372 {
  position:absolute;
  left:2px;
  top:77px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u2373 {
  position:absolute;
  left:162px;
  top:132px;
  width:85px;
  height:85px;
}
#u2374 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2375 {
  position:absolute;
  left:318px;
  top:132px;
  width:64px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2376 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2377 {
  position:absolute;
  left:318px;
  top:170px;
  width:141px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2379 {
  position:absolute;
  left:544px;
  top:170px;
  width:122px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2381 {
  position:absolute;
  left:741px;
  top:170px;
  width:158px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u2383 {
  position:absolute;
  left:281px;
  top:170px;
  width:27px;
  height:24px;
}
#u2384 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
}
#u2385 {
  position:absolute;
  left:512px;
  top:164px;
  width:22px;
  height:37px;
}
#u2386 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u2387 {
  position:absolute;
  left:696px;
  top:168px;
  width:35px;
  height:29px;
}
#u2388 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2389 {
  position:absolute;
  left:281px;
  top:212px;
  width:26px;
  height:26px;
}
#u2389_img.selected {
}
#u2389.selected {
}
#u2390 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2391 {
  position:absolute;
  left:317px;
  top:214px;
  width:235px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2392 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:104px;
  top:259px;
  width:1048px;
  height:299px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:142px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2395 {
  position:absolute;
  left:162px;
  top:288px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:148px;
}
#u2397 {
  position:absolute;
  left:184px;
  top:347px;
  width:887px;
  height:148px;
}
#u2398 {
  position:absolute;
  left:2px;
  top:66px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u2399 {
  position:absolute;
  left:929px;
  top:9px;
  width:50px;
  height:46px;
}
#u2400 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2401 {
  position:absolute;
  left:1000px;
  top:18px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
