/* line 5, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/common.scss */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei";
}

/* line 9, ../sass/common.scss */
.wrapper-head {
  height: 60px;
  line-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom, #CBCCFF, #9ECDFF);
  padding: 0 20px;
}
/* line 19, ../sass/common.scss */
.wrapper-head .head-left {
  float: left;
}
/* line 22, ../sass/common.scss */
.wrapper-head .head-left .name {
  float: left;
  font-size: 28px;
  font-weight: 500;
  color: #000;
}
/* line 28, ../sass/common.scss */
.wrapper-head .head-left .name::before {
  content: ' ';
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
  position: relative;
  top: 8px;
}
/* line 41, ../sass/common.scss */
.wrapper-head .head-left .desc {
  float: left;
  margin: 0 20px;
  padding-top: 12px;
}
/* line 46, ../sass/common.scss */
.wrapper-head .head-left .desc > div {
  line-height: 18px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
/* line 55, ../sass/common.scss */
.wrapper-head .menus {
  float: left;
}
/* line 58, ../sass/common.scss */
.wrapper-head .menus > li {
  float: left;
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
/* line 65, ../sass/common.scss */
.wrapper-head .menus > li:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 71, ../sass/common.scss */
.wrapper-head .head-right {
  float: right;
  font-size: 16px;
  color: #333;
}
/* line 76, ../sass/common.scss */
.wrapper-head .head-right .app {
  float: left;
  cursor: pointer;
}
/* line 80, ../sass/common.scss */
.wrapper-head .head-right .app:hover {
  color: #666;
}
/* line 84, ../sass/common.scss */
.wrapper-head .head-right .app::before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/phone.png) no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
/* line 97, ../sass/common.scss */
.wrapper-head .head-right .user {
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
/* line 102, ../sass/common.scss */
.wrapper-head .head-right .user:hover {
  color: #666;
}
/* line 106, ../sass/common.scss */
.wrapper-head .head-right .user::before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/user.png) no-repeat;
  background-size: contain;
  position: relative;
  top: 4px;
  margin-right: 3px;
}

/* line 121, ../sass/common.scss */
.wrapper-body {
  position: relative;
  top: 60px;
  height: calc(100% - 60px);
}

/* line 4, ../sass/login.scss */
.wrapper-head {
  background: #F2F2F2;
}

/* line 8, ../sass/login.scss */
.wrapper-body {
  background: linear-gradient(to bottom, #CBCCFF, #9ECDFF);
  position: relative;
}
/* line 12, ../sass/login.scss */
.wrapper-body .left-png {
  position: absolute;
  left: 10%;
  right: 45%;
  top: 50%;
  transform: translateY(-50%);
  height: 430px;
  background: url(../images/loginimg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
}
/* line 24, ../sass/login.scss */
.wrapper-body .right-box {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 430px;
  background: #fff;
}
/* line 33, ../sass/login.scss */
.wrapper-body .right-box .register {
  height: 100%;
  padding: 30px 0;
  text-align: center;
}
/* line 38, ../sass/login.scss */
.wrapper-body .right-box .register .title {
  width: 100%;
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
/* line 46, ../sass/login.scss */
.wrapper-body .right-box .register .user-tabs {
  width: 70%;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 15%;
}
/* line 52, ../sass/login.scss */
.wrapper-body .right-box .register .user-tabs .tab {
  width: 50%;
  line-height: 30px;
  color: #333;
  border-bottom: 3px solid #eee;
  float: left;
  cursor: pointer;
}
/* line 60, ../sass/login.scss */
.wrapper-body .right-box .register .user-tabs .tab:hover {
  color: #666;
}
/* line 64, ../sass/login.scss */
.wrapper-body .right-box .register .user-tabs .tab.active {
  float: left;
  border-bottom: 3px solid #9ECDFF;
}
/* line 71, ../sass/login.scss */
.wrapper-body .right-box .register .item {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}
/* line 78, ../sass/login.scss */
.wrapper-body .right-box .register .item .inputs {
  width: 70%;
  height: 100%;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  outline: none;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 5px;
}
/* line 90, ../sass/login.scss */
.wrapper-body .right-box .register .item .getcode {
  color: #fff;
  font-size: 14px;
  width: 100px;
  background: #9ECDFF;
  line-height: 32px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 13.5%;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
/* line 103, ../sass/login.scss */
.wrapper-body .right-box .register .item .getcode:hover {
  background: #b0d6ff;
}
/* line 109, ../sass/login.scss */
.wrapper-body .right-box .register .btn {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #9ECDFF;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}
/* line 122, ../sass/login.scss */
.wrapper-body .right-box .register .btn:hover {
  background: #b0d6ff;
}
/* line 127, ../sass/login.scss */
.wrapper-body .right-box .register .words {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}
/* line 132, ../sass/login.scss */
.wrapper-body .right-box .register .words > a {
  text-decoration: none;
  color: #9ECDFF;
}
/* line 136, ../sass/login.scss */
.wrapper-body .right-box .register .words > a:hover {
  color: #333;
  text-decoration: underline;
}
/* line 143, ../sass/login.scss */
.wrapper-body .right-box .register .gotologin {
  text-decoration: none;
  text-align: center;
  color: #666;
}
/* line 148, ../sass/login.scss */
.wrapper-body .right-box .register .gotologin:hover {
  color: #9ECDFF;
  text-decoration: underline;
}
