.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
._图片 {
}
._文本链接 {
  color:#0000FF;
}
._流程形状 {
  color:#333333;
}
._形状 {
  color:#333333;
}
.line {
}
.line1 {
}
._文本段落 {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._表格 {
}
.flow_shape {
}
.icon {
}
.image {
}
.box_1 {
}
