@import "./common.scss";

.my-center {
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: wrap;

  .userimg {
    margin: 30px 70px;
  }

  .middle {
    flex: 1;

    .username {
      font-size: 24px;
      color: #000;
      margin-top: 50px;
    }

    .time {
      font-size: 14px;
      color: #999;
      margin-top: 15px;
    }

    .descs {
      font-size: 14px;
      color: #333;
      margin-top: 15px;
    }
  }

  .right {
    width: 100px;
    padding-top: 30px;
  }

  .bottom {
    width: 100%;
    display: flex;

    .bottom-item {
      flex: 1;
      text-align: center;
      padding: 15px 0;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      font-size: 16px;
      color: #333;
      cursor: pointer;

      &:hover {
        color: #1E9FFF;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.seeme {
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: relative;
  top: 20px;

  .head {
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;

    .title {
      flex: 1;
      font-size: 24px;
      color: #000;
      padding-left: 10px;

      &>span {
        font-size: 14px;
        color: #666;
      }
    }

    .more {
      widows: 50px;
      padding-right: 20px;
      color: #333;
      cursor: pointer;

      &:hover {
        color: #1E9FFF;
      }
    }
  }

  .list {
    .list-item {
      display: flex;
      padding: 20px;
      border-bottom: 1px dashed #ddd;

      .left {
        flex: 3;

        .name {
          font-size: 18px;
          color: #333;
          line-height: 30px;
        }

        .desc {
          font-size: 14px;
          color: #999;
          line-height: 30px;
        }
      }

      .right {
        flex: 1;
        line-height: 60px;
      }
    }
  }
}