@import "./common.scss";

.body-wrapper {
  padding: 20px;

  .list-item {
    display: flex;
    border: 1px solid #eee;
    margin: 10px 0;

    .left {
      flex: 1;
      margin-top: 15px;
      padding-left: 15px;

      .item-type {
        font-size: 14px;
        color: #000;
      }

      .item-desc {
        color: #333;
        font-size: 18px;
        margin-top: 10px;
      }

      .item-bom {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #999;
      }
    }

    .right {
      width: 300px;
      text-align: center;
      padding-top: 30px;
    }
  }

}