/* line 5, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/common.scss */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei";
}

/* line 3, ../../sass/back/index.scss */
.body-head {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  background: #009688;
}
/* line 9, ../../sass/back/index.scss */
.body-head .head-title {
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
/* line 15, ../../sass/back/index.scss */
.body-head .head-title::before {
  content: ' ';
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url(../../images/logo.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
  position: relative;
  top: 11px;
}
/* line 28, ../../sass/back/index.scss */
.body-head .head-right {
  float: right;
  min-width: 300px;
  text-align: right;
}
/* line 33, ../../sass/back/index.scss */
.body-head .head-right .right-item {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
/* line 38, ../../sass/back/index.scss */
.body-head .head-right .right-item > img {
  float: left;
  width: 40px;
  position: relative;
  top: 10px;
}
/* line 45, ../../sass/back/index.scss */
.body-head .head-right .right-item #username {
  float: left;
  margin-left: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 57, ../../sass/back/index.scss */
.body-head .head-right .right-item#exit {
  display: none;
}
/* line 60, ../../sass/back/index.scss */
.body-head .head-right .right-item#exit > a {
  float: left;
  color: #333;
  font-size: 18px;
}

/* line 70, ../../sass/back/index.scss */
.body-container {
  height: calc(100% - 60px);
}
/* line 73, ../../sass/back/index.scss */
.body-container .container-left {
  width: 220px;
  height: 100%;
  float: left;
}
/* line 79, ../../sass/back/index.scss */
.body-container .container-right {
  float: left;
  width: calc(100% - 220px);
  height: 100%;
}
