/* line 5, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/common.scss */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei";
}

/* line 3, ../../sass/company/home.scss */
.my-center {
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
}
/* line 12, ../../sass/company/home.scss */
.my-center .userimg {
  margin: 30px 70px;
}
/* line 16, ../../sass/company/home.scss */
.my-center .middle {
  flex: 1;
}
/* line 19, ../../sass/company/home.scss */
.my-center .middle .username {
  font-size: 24px;
  color: #000;
  margin-top: 50px;
}
/* line 25, ../../sass/company/home.scss */
.my-center .middle .time {
  font-size: 14px;
  color: #999;
  margin-top: 15px;
}
/* line 31, ../../sass/company/home.scss */
.my-center .middle .descs {
  font-size: 14px;
  color: #333;
  margin-top: 15px;
}
/* line 38, ../../sass/company/home.scss */
.my-center .right {
  width: 100px;
  padding-top: 30px;
}
/* line 43, ../../sass/company/home.scss */
.my-center .bottom {
  width: 100%;
  display: flex;
}
/* line 47, ../../sass/company/home.scss */
.my-center .bottom .bottom-item {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
/* line 57, ../../sass/company/home.scss */
.my-center .bottom .bottom-item:hover {
  color: #1E9FFF;
}
/* line 61, ../../sass/company/home.scss */
.my-center .bottom .bottom-item:last-child {
  border-right: none;
}

/* line 68, ../../sass/company/home.scss */
.seeme {
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: relative;
  top: 20px;
}
/* line 75, ../../sass/company/home.scss */
.seeme .head {
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
}
/* line 81, ../../sass/company/home.scss */
.seeme .head .title {
  flex: 1;
  font-size: 24px;
  color: #000;
  padding-left: 10px;
}
/* line 87, ../../sass/company/home.scss */
.seeme .head .title > span {
  font-size: 14px;
  color: #666;
}
/* line 93, ../../sass/company/home.scss */
.seeme .head .more {
  widows: 50px;
  padding-right: 20px;
  color: #333;
  cursor: pointer;
}
/* line 99, ../../sass/company/home.scss */
.seeme .head .more:hover {
  color: #1E9FFF;
}
/* line 106, ../../sass/company/home.scss */
.seeme .list .list-item {
  display: flex;
  padding: 20px;
  border-bottom: 1px dashed #ddd;
}
/* line 111, ../../sass/company/home.scss */
.seeme .list .list-item .left {
  flex: 3;
}
/* line 114, ../../sass/company/home.scss */
.seeme .list .list-item .left .name {
  font-size: 18px;
  color: #333;
  line-height: 30px;
}
/* line 120, ../../sass/company/home.scss */
.seeme .list .list-item .left .desc {
  font-size: 14px;
  color: #999;
  line-height: 30px;
}
/* line 127, ../../sass/company/home.scss */
.seeme .list .list-item .right {
  flex: 1;
  line-height: 60px;
}
