@import "../common.scss";

body {
  background: #1ABC9C;
}

.myimg {
  width: 100%;
  position: absolute;
  top: 10%;
}

.myimg2 {
  width: 180px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.login-box {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 20px 50px;
  position: relative;
  top: calc(10% + 180px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .box-head {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    color: #1ABC9C;
  }

  .box-desc {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #1ABC9C;
  }
}