<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhi.index.mapper.BusinessMapper">
    <!--<resultMap id="BaseResultMap" type="com.wuzhi.index.bean.User" >-->
    <!--<result column="id" property="id" />-->
    <!--<result column="name" property="name" />-->
    <!--<result column="age" property="age" />-->
    <!--</resultMap>-->
    <select id="getCompanies" resultType="com.wuzhi.index.bean.Company">
        select * from company
    </select>

    <select id="getJobs" resultType="com.wuzhi.index.bean.Job" parameterType="java.util.Map">
        SELECT
        t1.*,
        t2.guimo company_guimo,
        t2.rongzi company_rongzi,
        t2.`name` company_name,
        t2.type company_type
        FROM
        jobs t1,
        company t2
        WHERE
        t1.company_id = t2.id
        <if test="name != '' and name != null ">
            and t1.`name` like '%${name}%'
        </if>
        <if test="company_name != '' and company_name != null ">
            and t2.`name` like '%${company_name}%'
        </if>
        <if test="key != '' and key != null ">
            and t1.`name` like '%${key}%'
        </if>
        <if test="city != '' and city != null ">
            and t1.city like '%${city}%'
        </if>
        <if test="exp != '' and exp != null ">
            and t1.exp like '%${exp}%'
        </if>
        <if test="edu != '' and edu != null ">
            and t1.edu like '%${edu}%'
        </if>
        <if test="money != '' and money != null ">
            and t1.money like '%${money}%'
        </if>
        <if test="rongzi != '' and rongzi != null ">
            and t2.rongzi like '%${rongzi}%'
        </if>
        <if test="guimo != '' and guimo != null ">
            and t2.guimo like '%${guimo}%'
        </if>
        <if test="fb_time != '' and fb_time != null ">
            and t1.fb_time like '%${fb_time}%'
        </if>
        ORDER BY
        t1.fb_time DESC
    </select>

    <select id="getPersonals" resultType="com.wuzhi.index.bean.Resume" parameterType="java.util.Map">
        select * from resume t1 where 1=1
        <if test="key != '' and key != null ">
            and t1.job_name like '%${key}%'
        </if>
        <if test="city != '' and city != null ">
            and t1.city like '%${city}%'
        </if>
        <if test="exp != '' and exp != null ">
            and t1.exp like '%${exp}%'
        </if>
        <if test="edu != '' and edu != null ">
            and t1.edu like '%${edu}%'
        </if>
        <if test="money != '' and money != null ">
            and t1.money like '%${money}%'
        </if>
    </select>

    <select id="getJobById" resultType="com.wuzhi.index.bean.Job">
		select t1.*,t2.guimo company_guimo,
        t2.rongzi company_rongzi,
        t2.`name` company_name,
        t2.type company_type,
         t2.logo company_logo
         from jobs t1,company t2
         WHERE t1.company_id = t2.id and t1.id = #{id}
	</select>

    <delete id="deleteJobById">
        delete from jobs where id = #{id}
    </delete>

    <select id="getJobByCompanyId" resultType="com.wuzhi.index.bean.Job">
		select t1.* from jobs t1 WHERE t1.company_id = #{id}
	</select>

    <select id="getCompanyById" resultType="com.wuzhi.index.bean.Company">
		select * from company WHERE id = #{id}
	</select>

    <select id="getResumeById" resultType="com.wuzhi.index.bean.Resume">
		select * from resume WHERE user_id = #{id}
	</select>

    <insert id="updateResume" parameterType="java.util.Map">
    INSERT INTO resume (
	user_id,
	name,
	sex,
	birthday,
	worktime,
	email,
	address,
	status,
	money,
	city,
	job_name,
	job_hy,
	workexp,
	projexp,
	studyexp,
	schoolstatus,
	skills,
	others,
	update_time,
	phone,
	university,
	rongyu,
	edu,
	exp
)
VALUES
	(
		#{user_id},
		#{name},
		#{sex},
		#{birthday},
		#{worktime},
		#{email},
		#{address},
		#{status},
		#{money},
		#{city},
		#{job_name},
		#{job_hy},
		#{workexp},
		#{projexp},
		#{studyexp},
		#{schoolstatus},
		#{skills},
		#{others},
		now(),
		#{phone},
		#{university},
	    #{rongyu},
	    #{edu},
	    #{exp}
	)
	ON DUPLICATE KEY UPDATE NAME = #{name},
	sex = #{sex},
	birthday = #{birthday},
	worktime = #{worktime},
	email = #{email},
	address = #{address},
	status = #{status},
	money = #{money},
	city = #{city},
	job_name = #{job_name},
	job_hy = #{job_hy},
	workexp = #{workexp},
	projexp = #{projexp},
	studyexp = #{studyexp},
	schoolstatus = #{schoolstatus},
	skills = #{skills},
	others = #{others},
	update_time = now(),
	phone = #{phone},
	university = #{university},
	rongyu = #{rongyu},
	edu = #{edu},
	exp = #{exp}
    </insert>

    <insert id="updateCompany" parameterType="java.util.Map">
      INSERT INTO company ( id, name, type, rongzi, guimo, fuli, jianjie, gongshang, update_time )
VALUES
	( #{id}, #{name}, #{type}, #{rongzi}, #{guimo}, #{fuli}, #{jianjie}, #{gongshang}, now() )
	ON DUPLICATE KEY UPDATE name = #{name},
	type = #{type},
	rongzi = #{rongzi},
	guimo = #{guimo},
	fuli = #{fuli},
	jianjie = #{jianjie},
	gongshang = #{gongshang},
	update_time = now()
    </insert>

    <insert id="updateJob" parameterType="java.util.Map">
      INSERT INTO jobs ( id, name, money, address, exp, edu, company_id, city, fb_time, beijing, zhize, yaoqiu, hr_name, hr_type )
VALUES
	( #{id}, #{name}, #{money}, #{address}, #{exp}, #{edu}, #{company_id}, #{city}, now(), #{beijing}, #{zhize}, #{yaoqiu}, #{hr_name}, '人事经理' )
	ON DUPLICATE KEY UPDATE name = #{name},
	money = #{money},
	address = #{address},
	exp = #{exp},
	edu = #{edu},
	city = #{city},
	beijing = #{beijing},
	zhize = #{zhize},
	yaoqiu = #{yaoqiu},
	hr_name = #{hr_name},
	hr_type = '人事经理'
    </insert>

    <insert id="sendResume" parameterType="java.util.Map">
        INSERT INTO resume_send (job_id,user_id,send_time) VALUES (#{job_id},#{user_id},now())
    </insert>

    <select id="getResumeSend" resultType="com.wuzhi.index.bean.ResumeSend">
        SELECT
        t1.id,
        t1.user_id,
        t1.job_id,
        t3.NAME job_name,
        t3.money job_money,
        t2.NAME company_name,
        t3.city job_city,
        t1.send_time,
        t4.name username,
        t1.status
        FROM
        resume_send t1,
        company t2,
        jobs t3,
        user t4
        WHERE
        t1.job_id = t3.id
        AND t3.company_id = t2.id
        AND t1.user_id = t4.id
        <if test="user_id != '' and user_id != null ">
            AND t1.user_id = #{user_id}
        </if>
        <if test="status != '' and status != null ">
            AND t1.status = #{status}
        </if>
        <if test="company_id != '' and company_id != null ">
            AND t3.company_id = #{company_id}
        </if>
    </select>

    <update id="updateResumeSendStatus">
        UPDATE resume_send set status = #{status} WHERE id = #{id}
    </update>

    <update id="updateJobIsuse">
        update jobs set is_use = #{is_use} where id = #{id}
    </update>

    <select id="getAllNews" resultType="com.wuzhi.index.bean.New" parameterType="java.util.Map">
        select * from news t1 where 1=1
        <if test="name != '' and name != null ">
            and t1.name like '%${name}%'
        </if>
        <if test="type != '' and type != null ">
            and t1.type like '%${type}%'
        </if>
    </select>

    <insert id="addNewTag" parameterType="java.util.Map">
        INSERT INTO tag (name,number,cond,type) VALUES (#{name},#{number},#{cond},#{type})
    </insert>
</mapper>