/* line 5, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/common.scss */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei";
}

/* line 4, ../sass/login.scss */
body {
  background: linear-gradient(to bottom, #CBCCFF, #9ECDFF);
}

/* line 8, ../sass/login.scss */
.left-png {
  position: absolute;
  left: 10%;
  right: 45%;
  top: 50%;
  transform: translateY(-50%);
  height: 430px;
  background: url(../images/loginimg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
}

/* line 20, ../sass/login.scss */
.right-box {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 430px;
  background: #fff;
}
/* line 29, ../sass/login.scss */
.right-box .register,
.right-box .login {
  height: 100%;
  padding: 30px 0;
  text-align: center;
}
/* line 35, ../sass/login.scss */
.right-box .register .title,
.right-box .login .title {
  width: 100%;
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
/* line 43, ../sass/login.scss */
.right-box .register .user-tabs,
.right-box .login .user-tabs {
  width: 70%;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 15%;
}
/* line 49, ../sass/login.scss */
.right-box .register .user-tabs .tab,
.right-box .login .user-tabs .tab {
  width: 50%;
  line-height: 30px;
  color: #333;
  border-bottom: 3px solid #eee;
  float: left;
  cursor: pointer;
}
/* line 57, ../sass/login.scss */
.right-box .register .user-tabs .tab:hover,
.right-box .login .user-tabs .tab:hover {
  color: #666;
}
/* line 61, ../sass/login.scss */
.right-box .register .user-tabs .tab.active,
.right-box .login .user-tabs .tab.active {
  float: left;
  border-bottom: 3px solid #9ECDFF;
}
/* line 68, ../sass/login.scss */
.right-box .register .item,
.right-box .login .item {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}
/* line 75, ../sass/login.scss */
.right-box .register .item .inputs,
.right-box .login .item .inputs {
  width: 70%;
  height: 100%;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  outline: none;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 5px;
}
/* line 87, ../sass/login.scss */
.right-box .register .item .getcode,
.right-box .login .item .getcode {
  color: #fff;
  font-size: 14px;
  width: 100px;
  background: #9ECDFF;
  line-height: 32px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 13.5%;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
/* line 100, ../sass/login.scss */
.right-box .register .item .getcode:hover,
.right-box .login .item .getcode:hover {
  background: #b0d6ff;
}
/* line 106, ../sass/login.scss */
.right-box .register .btn,
.right-box .login .btn {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #9ECDFF;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}
/* line 119, ../sass/login.scss */
.right-box .register .btn:hover,
.right-box .login .btn:hover {
  background: #b0d6ff;
}
/* line 124, ../sass/login.scss */
.right-box .register .words,
.right-box .login .words {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}
/* line 129, ../sass/login.scss */
.right-box .register .words > a,
.right-box .login .words > a {
  text-decoration: none;
  color: #9ECDFF;
}
/* line 133, ../sass/login.scss */
.right-box .register .words > a:hover,
.right-box .login .words > a:hover {
  color: #333;
  text-decoration: underline;
}
/* line 140, ../sass/login.scss */
.right-box .register .gotologin,
.right-box .login .gotologin {
  text-decoration: none;
  text-align: center;
  color: #666;
}
/* line 145, ../sass/login.scss */
.right-box .register .gotologin:hover,
.right-box .login .gotologin:hover {
  color: #9ECDFF;
  text-decoration: underline;
}
/* line 152, ../sass/login.scss */
.right-box .register {
  display: none;
}
/* line 157, ../sass/login.scss */
.right-box .login .user-tabs {
  margin-bottom: 30px;
}
/* line 161, ../sass/login.scss */
.right-box .login .title {
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 166, ../sass/login.scss */
.right-box .login .gotologin {
  display: block;
}
